@import "tailwindcss";


/* globals.css */

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
     background: #2d1950; /* Tailwind gray-300 */
}
::-webkit-scrollbar-thumb {
  background-color: rgba(178,121,216,.959); /* Tailwind blue-500 */
      border-radius: 12px; /* fully rounded */
   /* track rəngi ilə border */
}



.wave {
  display: inline-block;
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  animation-timing-function: ease-in-out;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  15% { transform: rotate(14deg); }
  30% { transform: rotate(-8deg); }
  40% { transform: rotate(14deg); }
  50% { transform: rotate(-4deg); }
  60% { transform: rotate(10deg); }
  70% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}
